In [18]:
import glob
import os
import pandas as pd

all_stock_df_list = []
for filename in glob.glob(os.getcwd() +"/../..data/raw/"+"*.csv"):
    x = pd.read_csv(filename, low_memory=False)
    all_stock_df_list.append(x)

df = pd.concat(all_stock_df_list)
df.reset_index(inplace=True, drop=True)
df

,Date,High,Low,Open,Close,Volume,Adj Close,Name
0,1977-01-03,25.801493,25.527010,25.527010,25.581905,169800.0,5.956707,XRX
1,1977-01-04,25.691700,25.197628,25.581905,25.252525,143200.0,5.880013,XRX
2,1977-01-05,25.636803,24.923145,25.252525,25.087835,191000.0,5.841664,XRX
3,1977-01-06,25.362318,24.868248,25.087835,25.032938,168700.0,5.828885,XRX
4,1977-01-07,25.142731,24.483971,25.032938,24.923145,143200.0,5.803314,XRX
...,...,...,...,...,...,...,...,...
3741010,2020-11-04,7.870000,7.630000,7.860000,7.640000,67326800.0,7.640000,F
3741011,2020-11-05,7.990000,7.710000,7.760000,7.990000,61442600.0,7.990000,F
3741012,2020-11-06,8.020000,7.750000,8.010000,7.790000,50912100.0,7.790000,F
3741013,2020-11-09,8.380000,8.080000,8.110000,8.200000,110511300.0,8.200000,F
3741014,2020-11-10,8.590000,8.180000,8.230000,8.380000,87182400.0,8.380000,F

In [19]:
fang = pd.concat([pd.read_csv(f) for f in glob.glob(os.getcwd()+ '/../../data/raw/fang/'+'*.csv')], ignore_index = True)
fang.to_csv(os.getcwd()+"/../../data/processed/fang.csv",index=False)
fang

,Date,High,Low,Open,Close,Volume,Adj Close,Name
0,2002-05-23,1.242857,1.145714,1.156429,1.196429,104790000.0,1.196429,NFLX
1,2002-05-24,1.225000,1.197143,1.214286,1.210000,11104800.0,1.210000,NFLX
2,2002-05-28,1.232143,1.157143,1.213571,1.157143,6609400.0,1.157143,NFLX
3,2002-05-29,1.164286,1.085714,1.164286,1.103571,6757800.0,1.103571,NFLX
4,2002-05-30,1.107857,1.071429,1.107857,1.071429,10154200.0,1.071429,NFLX
...,...,...,...,...,...,...,...,...
26845,2020-11-04,3244.850098,3139.729980,3159.989990,3241.159912,6839000.0,3241.159912,AMZN
26846,2020-11-05,3366.800049,3288.879883,3319.969971,3322.000000,5789300.0,3322.000000,AMZN
26847,2020-11-06,3322.000000,3232.000000,3304.639893,3311.370117,4647300.0,3311.370117,AMZN
26848,2020-11-09,3289.000000,3112.110107,3231.030029,3143.739990,7190400.0,3143.739990,AMZN
26849,2020-11-10,3114.000000,3019.479980,3095.020020,3035.020020,6563300.0,3035.020020,AMZN